{% extends "base.html" %}
{% block heads %}{% if can_edit %}
  <link rel="alternate" type="application/x-wiki" href="/w/edit?page={{ page.title|uurlencode }}"/>
{% endif %}{% endblock %}
{% block title %}{{ page.get_display_title|escape }}{% if settings.wiki_title %} — {{ settings.wiki_title|escape }}{% endif %}{% endblock %}
{% block content %}
  <ul class="nav nav-tabs" role="tablist"{% if page.is_locked %}id="showlock"{% else %}{% endif %}>
  <li class="active"><a class="view" href="{{ page.title|pageurl }}"><span class="glyphicon glyphicon-lock"></span><span class="glyphicon glyphicon-eye-open"></span> View</a></li>
  {% if can_edit %}
    <li><a href="/w/edit?page={{ page.title|uurlencode }}{% if page.revision %}&amp;r={{ page.revision }}{% endif %}"><span class="glyphicon glyphicon-pencil"></span> Edit</a></li>
  {% endif %}
  {% if map_url %}
    <li><a href="{{ map_url }}">Map</a></li>
  {% endif %}
  {% if page.body %}
  <li><a href="/w/history?page={{ page.title|uurlencode }}"><span class="glyphicon glyphicon-circle-arrow-left"></span> History</a></li>
  {% endif %}
</ul>
  {% if page.body %}
      <div class="breadcrumb">
    {% if "/" in page.title %}{{ page.title|breadcrumbs|safe }}{% endif %}
      </div>
    {% if is_plain %}
      <pre>{{ page|wikify_page }}</pre>
    {% else %}
      {{ page|wikify_page|safe }}
      {% if page_labels %}
        <p class="alert alert-info">{% if settings.labels_text %}{{ settings.labels_text }}{% else %}Labels{% endif %}: {% for label in page_labels %}{% if forloop.first %}{% else %}, {% endif %}<a class="label label-default" href="{{ label|labelurl }}">{{ label|escape }}</a>{% endfor %}</p>
      {% endif %}
      {% if page.comments_enabled %}
        {{ settings.comments_code|safe }}
      {% endif %}
    {% endif %}
  {% else %}
    <h1>{{ page.title }}</h1>
    <p>This page does not exist.</p>
    {% if can_edit %}
    <form method="get" action="/w/edit">
      <input type="hidden" name="page" value="{{ page.title|escape }}"/>
      <input class="btn btn-primary" type="submit" value="Create it"/>
    </form>
    {% endif %}
  {% endif %}
</div>
{% endblock %}
